/* GLobal */
:root {
  /* color */
  --color-white: white;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --padding-micro: 4px;
  --padding-small: 8px;
  --padding-medium: 12px;
  --padding-large: 16px;
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  /* 패딩을 줬을 때, 높이와 너비가 패딩을 포함했을 때도 동일한 높이와 너비가 되도록 만든다. */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  /* margin : 2개만 적으면 위아래 오른쪽 왼쪽
                 4개적으면 위 오른쪽 아래 왼쪽 */
  margin: var(--padding-large) 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: var(--padding-medium) 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: var(--padding-small) 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: var(--padding-micro) 0;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-white);
  align-items: center;
  color: var(--color-black);
  padding: var(--padding-large);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

.navbar__logo img {
  width: 30px;
  vertical-align: bottom;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: var(--padding-small) var(--padding-medium);
  margin: 0 var(--padding-micro);
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-orange);
}

.navbar__menu__item:hover {
  background-color: var(--color-orange);
}

/* home */
.home {
  background: url("imgs/homeBackGround.png");
  padding: calc(var(--padding-micro) * 10);
  text-align: center;
}

.home__logo {
  width: 250px;
  height: 250px;
}

.home__title .home__description {
  color: var(--color-dark-grey);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: calc(var(--padding-medium) * 2);
  padding: var(--padding-small) var(--padding-medium);
  border: 2px solid var(--color-light-grey);
  border-radius: var(--size-border-radius);
  color: var(--color-black);
}

/* section */
.section {
  padding: calc(var(--padding-small) * 8);
  text-align: center;
  margin: auto;
}

.section__Container {
  max-width: 1200px;
  margin: auto;
}
/* work */
.work__majors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.major {
  width: 300px;
  padding: var(--padding-medium);
}

.major__picture img {
  width: 200px;
  height: 200px;
  border-radius: var(--size-border-radius);
  border: 2px solid var(--color-light-grey);
}

/* SHOP */
.items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: top;
  margin: auto;
}

.item {
  height: 370px;
  flex-basis: 25%;
  flex-shrink: 0;
}

.item__picture {
  line-height: 200px;
}
.item__picture img {
  width: 200px;
  height: 200px;
  margin: var(--padding-medium);
  padding: var(--padding-medium);
  vertical-align: top;
}

.item__title {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  width: 150px;
  margin: auto;
}

.item__descriptiton {
  font-size: var(--font-small);
  width: 150px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .work__majors {
    margin: auto;
    align-items: center;
  }
  .majors {
    flex-direction: column;
  }
}
